* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url("https://img.freepik.com/vecteurs-libre/affiche-du-festival-du-cinema_1284-22583.jpg?size=626&ext=jpg&ga=GA1.2.1804444810.1690818655&semt=sph");
  /*background-repeat: no-repeat center;
  background-image: url("./assets/cinema1.jpg");*/
}

.App {
  font-family: sans-serif;
  text-align: center;
  /*background-image: url("https://img.freepik.com/vecteurs-libre/affiche-du-festival-du-cinema_1284-22583.jpg?size=626&ext=jpg&ga=GA1.2.1804444810.1690818655&semt=sph");
  background-repeat: no-repeat center;*/
}

ul {
  background-color: black;
  padding: 3% 0 0 0;
  position: sticky;
  top: 0;
}

li {
  color: white;
  list-style: none;
  display: inline;
  padding: 1%;
}

.search {
  margin: 1%;
}

#search {
  height: 40px;
  width: 50%;
  margin: 2%;
  /*padding-left : 5px;*/
  border: 2px solid white;
  border-radius: 5px;
}

button {
  margin: 2%;
  height: 40px;
  width: 50%;
  background-color: #c11109;
  border: 2px solid #c11109;
  border-radius: 5px;
}

button:hover {
  background-color: #a30406;
  border: 2px solid #a30406;
}

label {
  /*font:
    0.9em/1.5em "handwriting",
    sans-serif;
    */
  color: white;
  border: none;
  padding: 0 10px;
  margin: 0;
  width: 240px;
}

.Card {
  margin: 5%;
  padding: 2%;
  text-align: justify;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(240, 240, 240, 0.8);
  min-height: 300px;
  /*background-image: url("./assets/cinema1.jpg");*/
}

.Card_person {
  margin: 5%;
  padding: 5%;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(246, 210, 150, 0.6);
  min-height: 300px;
}

.overview {
  padding: 10px;
}

.Card img {
  float: left;
  margin-right: 10px;
  margin-bottom: 2px;
}

hr {
  padding: 0;
  margin: 10px;
  color: white;
  height: 2px;
}

footer {
  padding: 5px;
  color: white;
  background-color: #9e9179;
}

@media (max-width: 600px) {
  .Card img,
  .Card_person img {
    height: 80%;
    width: 80%;
    padding: 10%;
  }
  h2 {
    font-size: 1em;
    text-align: center;
  }
  p {
    font-size: 0.8em;
  }
  footer {
    font-size: 0.8em;
  }
}

@media (min-width: 600px) {
  p,
  label,
  h2 {
    font-size: 2em;
  }
  .Card img,
  .Card_person img {
    height: 40%;
    width: 40%;
  }

  .Card {
    min-height: 550px;
  }

  #search,
  button {
    font-size: 1.5em;
  }
}

@media (min-width: 1200px) {
  .Card {
    min-height: 600px;
  }
  .Card img,
  .Card_person img {
    height: 25%;
    width: 25%;
  }

  p,
  h2 {
    font-size: 2em;
  }

  ul {
    position: relative;
  }
}
